## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider
.idea/

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json

# MSTest
TestResults/

# Resharper
_ReSharper*/
*.DotSettings.user

# Visual Studio Code
.vscode/

# Other
*.log
*.tmp
node_modules/
